<form action="/article/new" method="post">
  <label>Name:
    <input type="text" name="title" id="">
  </label>
  <label>Description:
    <input type="text" name="body" id="">
  </label>
  <label>Price:
    <input type="text" name="author" id="">
  </label>
  <input type="submit" value="Submit">
</form>
<br> {{> footer}}