{{#with productToEdit}}
<form action="/products/{{id}}?_method=PUT" method="post">
  <h3>
    <label>EDIT PRODUCTS</label>
  </h3>
  <label>Name:
    <input type="text" name='name' id=''>
  </label>
  <br><br>
  <label>Description:
    <input type="text" name='description' id=''>
  </label>
  <br><br>
  <label>Price:
    <input type="number" min='0' name='price' id=''>
  </label>
  <br><br>
  <label>
    <input type="submit" value='Submit' >
  </label>
  <br><br>
  <a href="/productsHome/">Back to Products</a>
  {{/with}}
</form> 

<br>

{{#with articleToEdit}}
<form action="/articles/{{id}}?_method=PUT" method="post">
  <h3>
    <label>EDIT ARTICLES</label>
  </h3>
  <label>Title:
    <input type="text" name='title' id=''>
  </label>
  <br><br>
  <label>Body:
    <input type="text" name='body' id=''>
  </label>
  <br><br>
  <label>Author:
    <input type="text" name='author' id=''>
  </label>
  <br><br>
  <label>
    <input type="submit" value='Submit' >
  </label>
  <br><br>
  <a href="/articlesHome/">Back to Articles</a>
  {{/with}}
</form>
