<h1>Products:</h1>
{{#each items}}
<div>
  <a href='/product/{{id}}'>{{name}}</a>
</div>
{{/each}}

<br>
<a href="/product/new">NEW ITEM</a>

<br>
<br>

<h1>Articles:</h1>
{{#each items}}
<div>
  <a href='/product/{{id}}'>{{name}}</a>
</div>
{{/each}}

<br>
<a href="/product/new">NEW ITEM</a>