<h1>Products:</h1>
<div>
  <a href="/productshome/">Products</a>
</div>

<br>
<br>

<h1>Articles:</h1>
<div>
  <a href="/articleshome/">Articles</a>
</div>

<br>
<br>

{{!-- <h1>Articles:</h1>
{{#each artItem}}
<div>
  <a href='/article/{{id}}'>{{title}}</a>
</div>
{{/each}}

<br>
<a href="/article/new">NEW ITEM</a> --}}