<h1>Products:</h1>
<div>
  <a href="/product/">Products</a>
</div>
<div>
  {{#each products}}
  <div>{{Name}}</div>
   {{/each}} 
</div>


<br>
<br>

<h1>Articles:</h1>
<div>
  <a href="/article">Articles</a>
</div>

<br>
<br>